.nav-wrapper {
  height: 64px;
  background: $color-bg-nav;
  @include flex();
  flex-grow: 1;
  @include media-tablet {
    height: 45px;
    background: transparent;
  }
}

.nav {
  flex-grow: 1;
  max-width: 1044px;
  @include media-big-desktop {
    max-width: 850px;
  }
  @include media-desktop {
    max-width: 550px;
  }
  @include media-tablet {
    background: $color-bg-nav;
    @include flex();
  }
}

.nav__items {
  @include flex($justify: space-between);
  padding: 0;
  font-weight: 500;
  color: $color-light;
  margin: 0;
  @extend %transition;
  @include media-tablet {
    padding-top: 30px;
    @include flex($justify: flex-start, $align: center, $flow: column nowrap);
    gap: 5%;
    background: $color-bg-nav;
    position: fixed;
    left: 0;
    top: -110vh;
    width: 100%;
    height: 100vh;
    z-index: 2;
    overflow: auto;
    font-size: 2rem;

    &.open-burger {
      top: 0;
    }
  }

  .nav__item {
    position: relative;
    .nav__item-ico {
      display: inline-block;
      margin-left: 8px;
    }
  }
}

.nav__burger-button {
  display: none;
  @extend %transition;
  background: $color-main;
  border: none;
  outline: none;
  color: $color-light;

  @include media-tablet {
    display: block;
    font-size: 4rem;
    width: 60%;
    &.open {
      position: fixed;
      bottom: 0;
      z-index: 2;
      border-top: 2px solid $color-light;
    }

    .nav__burger-ico {
      transform: scale(2, 1);
      &.open {
        transform: scale(2, -1);
      }
    }
  }
}