.about-filter__heading {
  @include font-heading($size: 3.8rem, $weight: 900);
  margin: 40px 0;
}

.about-filter__content {
  @include flex($justify: flex-start, $align: flex-start);
  gap: 4%;

  .about-filter__slider-contact {
    h4 {
      @include font-heading ($size: 2.4rem, $weight: 800);
      margin: 80px 0 25px;
    }
  }
}

.filter-characteristics {
  max-width: 600px;

  @include flex($justify: space-between, $align: flex-start, $flow: column wrap);
  .filter-characteristics__grid {
    max-width: 500px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 3fr 1fr;
    grid-gap: 30px;
    font-size: 1.8rem;

    &>div:nth-of-type(odd) {
      text-align: left;
      font-weight: 500;
    }
    &>div:nth-of-type(even) {
      text-align: right;
    }
  }

  .filter-characteristics__prise {
    margin-top: 129px;
    font-size: 1.8rem;
    font-weight: 500;
    border: solid 1px $color-main;
    padding: 20px;
    border-radius: 3px;
    span {
      @include font-heading ($size: 2.8rem, $color: $color-main);
    }
  }

  .filter-characteristics__description {
    margin-top: 50px;
    h4 {
      @include font-heading ($size: 2.4rem, $weight: 800);
      margin-bottom: 25px;
    }

    div {
      font-size: 1.8rem;
      line-height: 2.8rem;
    }
  }
}