.contacts-section {
  background: url('../../../public/assets/bg-img/sky.png') no-repeat;
  background-position: bottom -300px right;
  position: relative;
  z-index: 1;
  overflow: hidden;
  align-items: center;
  @include media-big-desktop {
    background-position: bottom -300px right -80px;
  }
  @include media-desktop {
    background-position: bottom -300px right -280px;
  }
  @include media-tablet {
    padding-bottom: 20px;
  }

  .contacts-section__background {
    position: relative;
    margin-top: 170px;
    @include media-mobile-big {
      display: none;
    }

    .contacts-section__sky-img {
      position: absolute;
      transform: scale(-1, 1);
      z-index: 1;
      left: -350px;
      top: -220px;
      width: 45vw;
      height: auto;
      @include media-big-desktop {
        left: -280px;
      }
      @include media-desktop {
        left: -150px;
        top: -150px;
      }
    } 
    .contacts-section__filter-img {
      width: 40vw;
      height: auto;
      margin-bottom: -4px;
      @include media-tablet {
        display: none;
      }
    }
  }
}

.contacts-section__form {
  @include media-big-desktop {
    text-align: center;
    max-width: 400px;
  }
  @include media-mobile-big {
    margin-right: 8px;
  }
}

.contacts-section__background-right {
  .contacts-section__wrench-img {
    @include media-big-desktop {
      width: 150px;
      height: auto;
    }
    @include media-desktop {
      display: none;
    }
  }
}