@mixin border ($color) {
  border: 3px solid $color;
  border-radius: 3px;
}

.slider-wrapper {
  width: 864px;
  height: 435px;
  @include media-big-desktop {
    width: 600px;
    height: 250px;
  }
  @include media-desktop {
    height: 380px;
  }
  @include media-tablet {
    width: 97vw;
  }
  @include media-mobile-big {
    width: 95vw;
  }
  

  .slick-slider {
    direction:rtl !important;
    @include media-desktop {
      direction:ltr !important;
    }
    
    .slider__preview-img {
      width: 134px;
      height: 93px;
    }
    
    .slider__wrapper-img {
      position: relative;

      .button {
        position: absolute;
        right: 0;
        bottom: 0px;
        box-shadow: none;
        width: 50px;
        height: 50px;
        font-size: 3rem;
        border-radius: 3px 0 0 0;
        @include media-desktop {
          right: 4%;
          width: 40px;
          height: 40px;
          font-size: 2.2rem;
        }
        @include media-tablet {
          right: 0;
        }
      }

      .slider__select-img {
        width: 671px;
        height: 435px;
        object-fit: cover;
        @include media-big-desktop {
          width: 440px;
          height: 250px;
        }
        @include media-desktop {
          width: 96%;
          height: 250px;
        }
        @include media-tablet {
          width: 100%;
        }
      }
    }
    
    .slick-dots {
      display: flex !important;
      flex-direction: column;
      width: auto;
      left: 0;
      top: 0;
      height: 435px;
      padding-left: 20px;
      @extend %scrollbar;
      @include media-big-desktop {
        height: 250px;
        padding-left: 0;
      }
      @include media-desktop {
        @include flex($justify: flex-start, $flow: row nowrap);
        width: 100%;
        top: 260px;
        height: 118px;
      }
      
      
      li {
        @extend %transition;
        display: inline-block;
        width: 134px;
        height: 93px;
        margin-bottom: 12px;
        @include border(transparent);
        &:last-of-type {
          margin-bottom: 0
        }
        &.slick-active {
          @include border($color-main);
          filter: $slider-preview-img-shadow;
        }
      }
    }
  }
}

.slider__modal-img {
  width: 50vw;
  height: auto;
  @include media-big-desktop {
    width: 60vw;
  }
  @include media-mobile-big {
    width: 90vw;
  }
}